---

# The layout for Tag page
# © 2017-2019 Cotes Chung
# MIT Licensed
---

<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kshitiz Anand's Resume</title>
  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="../../assets/img/favicons/site.webmanifest">
  <link rel="mask-icon" href="../../assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#333333">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
  <link rel="preload" as="style"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"
    media="print" onload="this.media='all'" />
  <noscript>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
  </noscript>
  <link href="css/font-awesome/css/all.min.css?ver=1.2.0" rel="stylesheet">
  <link href="css/bootstrap.min.css?ver=1.2.0" rel="stylesheet">
  <link href="css/aos.css?ver=1.2.0" rel="stylesheet">
  <link href="css/main.css?ver=1.2.0" rel="stylesheet">
  <noscript>
    <style type="text/css">
      [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
      }
    </style>
  </noscript>
</head>

<body id="top">
  <header class="d-print-none">
    <div class="container text-center text-lg-left">
      <div class="py-3 clearfix">
        <div class="site-nav">
          {% include_relative about/content/site-nav.html %}
        </div>
      </div>
    </div>
  </header>
  <div class="page-content">
    <div class="container">
      <div class="cover shadow-lg bg-white">
        <div class="cover-bg p-3 p-lg-4 text-white">
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <div class="avatar hover-effect bg-white shadow-sm p-1"><img src="images/avatar.jpg" width="200"
                  height="200" /></div>
            </div>
            <div class="col-lg-4 col-md-12 text-center text-md-start">
              <h2 class="h1 mt-2" data-aos="fade-left" data-aos-delay="0">Kshitiz Anand</h2>
              <p data-aos="fade-left" data-aos-delay="100">Lead Member Of Technical Staff</p>
            </div>
          </div>
        </div>
        <div class="about-section pt-4 px-3 px-lg-4 mt-1">
          {% include_relative about/content/about-section.html %}
        </div>
        <hr class="d-print-none" />
        <div class="skills-section px-3 px-lg-4">
          {% include_relative about/content/skills-section.html %}
        </div>
        <hr class="d-print-none" />
        <div class="skills-section px-3 px-lg-4">
          {% include_relative about/content/skills-tools.html %}
        </div>
        <hr class="d-print-none" />
        <div class="work-experience-section px-3 px-lg-4">
          {% include_relative about/content/work-experience-section.html %}
        </div>
        <hr class="d-print-none" />
        <div class="education-section px-3 px-lg-4 pb-4">
          {% include_relative about/content/awards-section.html %}
        </div>
        <hr class="d-print-none" />
        <div class="skills-section px-3 px-lg-4 pb-4">
          {% include_relative about/content/interests-section.html %}
        </div>
        <hr class="d-print-none" />
        <!-- <div class="page-break"></div> -->
        <div class="education-section px-3 px-lg-4 pb-4">
          {% include_relative about/content/education-section.html %}
        </div>
      </div>
    </div>
  </div>
  <footer class="pt-4 pb-4 text-muted text-center d-print-none">
    <div class="container">
      <div class="my-3">
        <div class="h4">Kshitiz Anand</div>
        <div class="footer-nav">
          {% include_relative about/content/site-nav.html %}
        </div>
      </div>
      <div class="text-small">
        <div class="mb-1">&copy; Right Resume. All rights reserved.</div>
        <div>Design - <a href="https://templateflip.com/" target="_blank">TemplateFlip</a></div>
      </div>
    </div>
  </footer>
  <script src="scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
  <script src="scripts/aos.js?ver=1.2.0"></script>
  <script src="scripts/main.js?ver=1.2.0"></script>
</body>

</html>